// Заголовки, общие БЭМ блоки и т.д.
.mobile-only {
	display: none;
	@media (max-width: $mobile) {
		display: block;
	}
}

.desctop-only {
	display: none;
	@media (min-width: $mobile) {
		display: block;
	}
}

.button {
	padding: rem(11) rem(24);
	font-size: rem(14);
	font-weight: 700;
	line-height: math.div(21, 14);
	color: #1fa181;
	border-radius: 50px;
	background-color: #f6f6f6;
	transition: background-color ease 0.3s;
	@media (min-width: $mobile) {
		background-color: #0dbc91;
		color: #fff;
		font-weight: 400;
		&:hover,
		&:active,
		&:focus {
			background-color: #00d29f;
		}
	}
}
